.basicbutton {
    padding: 5px 30px;
    border: 2px solid #0dcaf0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 0px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}